<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="renderer" content="webkit"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title>就业信息中心</title>
    <link rel="stylesheet" href="css/info.css"/>

    <style type="text/css">
        table.altrowstable {
            font-family: verdana, arial, sans-serif;
            font-size: 11px;
            color: #333333;
            height: 80%;
            width: 80%;
            border-width: 10px;
            border-color: #a9c6c9;
            border-radius: 5px;
        }

        table.altrowstable th {
            border-width: 10px;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
            border-radius: 10%;
        }

        table.altrowstable td {
            border-width: 10px;
            border-radius: 10%;
            padding: 8px;
            border-style: solid;
            border-color: #a9c6c9;
        }

        .oddrowcolor {
            background-color: #d4e3e5;
        }

        .evenrowcolor {
            background-color: #c3dde0;
        }
    </style>

</head>
<body style="background-image:url(images/pagebg.jpg)">
<div class="body-bg-mask"></div>
<div class="page hide-right-bar">
    <div class="page-inner">
        <div id="topbar">
            <div class="container">
                <ul class="link-list left editable" data-editable="type=list;name=no_channel_top">
                    <!--/*@thymesVar id="UserName" type="java.lang.String"*/-->
                    <li th:if="${UserName} ne 'anonymousUser'"><a th:text="${'欢迎您 '+UserName}"></a></li>
                </ul>
                <ul class="right link-list">
                    <!--/*@thymesVar id="UserName" type="java.lang.String"*/-->
                    <li class="first" th:if="${UserName} eq 'anonymousUser'"><a href=" ">注册</a></li>
                    <li th:if="${UserName} eq 'anonymousUser'"><a href="/login">登录</a></li>
                    <li th:if="${UserName} ne 'anonymousUser'"><a th:href="@{/user(name=${UserName})}">用户中心</a></li>
                    <li th:if="${UserName} ne 'anonymousUser'"><a th:href="@{/logout}">退出登陆</a></li>
                </ul>
            </div>
        </div>

        <div id="header">
            <div class="container">
                <a href="index.html" class="logo" title="就业管理系统"><img src="images/logo.png" alt=""/></a>
                <!--校庆结束后恢复
                -->
                <form action="https://news.uestc.edu.cn/" method="get" target="_blank" class="search-form">
                    <input name="n" value="UestcNews.Front.Search.Page" type="hidden"/>
                    <input type="text" name="Keyword" placeholder="站内搜索"/>
                    <input class="btn" type="submit" value="Search"/>
                </form>
            </div>
        </div>

        <!-- 资讯信息分类展示 -->
        <div id="navi">
            <div class="container">
                <ul class="navigations">

                    <li class="first odd nth1">
                        <a class="navigation" href="http://bbs.yingjiesheng.com/forum-542-1.html"
                           target="_self">最新公告</a>
                    </li>

                    <li class="even nth2">
                        <a class="navigation" href="http://www.juxian.com/">人才推荐</a>
                    </li>

                    <li class="odd nth3">
                        <a class="navigation"
                           href="http://bbs.uestc.edu.cn/forum.php?mod=viewthread&tid=1770154&extra=page%3D1">最新职位</a>
                    </li>

                    <li class="even nth4">
                        <a class="navigation" href="http://www.yingjiesheng.com/2019/" target="_blank">最新调查</a>
                    </li>

                    <li class="odd nth5">
                        <a class="navigation"
                           href="https://fanqizha.58.com/?PGTID=0d302408-0006-60b6-b306-3ec0eadada27&ClickID=8"
                           target="_self">政策法规</a>
                    </li>

                    <li class="even nth6">
                        <a class="navigation" href="https://b2b.hc360.com/supplyself/503578866.html" target="_blank">指导培训</a>
                    </li>

                    <li class="last odd nth7">
                        <a class="navigation"
                           href="http://bbs.uestc.edu.cn/forum.php?mod=viewthread&tid=1767645&extra=page%3D1" target="">实习兼职</a>
                    </li>

                </ul>
            </div>
        </div>

        <div id="inner-page">
            <div class="container clearfix">
                <div class="left-column">
                    <div class="left-top-image">
                        <img src="images/left-top.jpg" alt=""/>
                    </div>
                    <ul class="left-navi">
                        <li class="first odd nth1 active">
                            <a>毕业生个人信息</a>
                        </li>

                        <li class="even nth2 ">
                            <a href="/infoEnterprise">企业单位信息</a>
                        </li>
                    </ul>
                </div>
                <div class="right-column">
                    <div class="page-title">
                        <div class="page-title-text">毕业生个人信息</div>
                        <div class="page-position">
                            <a href="index">首页</a>

                            / <a>毕业生个人信息</a>

                        </div>
                    </div>
                    <div class="page-content clearfix">

                        <div>
                            <ul id="hear"><!--选项卡列表，如果是底部选项卡，将hear  fixed到底部，侧边栏重新设置css-->
                                <li class="action" style="color: #249000;border-bottom: 1px solid #249000;">
                                    <!--带action的会默认选中-->
                                    基本信息
                                </li>
                                <li>
                                    简历
                                </li>
                                <li>
                                    补充信息
                                </li>
                                <li>
                                    附加信息
                                </li>
                            </ul>
                            <ul id="content">   <!--选项卡内容列表-->
                                <li class="action" id="content1"><!--带action的会默认显示-->
                                    <table class="altrowstable" id="alternatelor">
                                        <tr>
                                            <th>property</th>
                                            <th>value</th>
                                            <th>property</th>
                                            <th>value</th>
                                        </tr>
                                        <tr>
                                            <td>姓名</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.name}"></td>
                                            <td>家庭住址</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.address}"></td>
                                        </tr>
                                        <tr>
                                            <td>性别</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.sex?'男':'女'}"></td>
                                            <td>身份证号</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.idCardNo}"></td>
                                        </tr>
                                        <tr>
                                            <td>年龄</td>
                                            <td>secret</td>
                                            <td>毕业院校</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.school}"></td>
                                        </tr>
                                        </tr>
                                        <tr>
                                            <td>民族</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.national}"></td>
                                            <td>联系方式</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.contractNo}"></td>
                                        </tr>
                                    </table>
                                </li>
                                <li id="content2">
                                    <table class="altrowstable" id="alternatecolor">
                                        <tr>
                                            <th>property</th>
                                            <th>value</th>
                                            <th>property</th>
                                            <th>value</th>
                                        </tr>
                                        <tr>
                                            <td>自荐书</td>
                                            <td>unknown</td>
                                            <td>简历模板</td>
                                            <td>unknown</td>
                                        </tr>
                                        <tr>
                                            <td>求职信</td>
                                            <td>unknown</td>
                                            <td>简历内容设置</td>
                                            <td>unknown</td>
                                        </tr>
                                        <tr>
                                            <td>求职意向</td>
                                            <td>unknown</td>
                                            <td>简历预览</td>
                                            <td>unknown</td>
                                        </tr>
                                        <tr>
                                            <td>自我评价</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.resume}"></td>
                                            <td>Email</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.emailAddress}"></td>
                                        </tr>
                                    </table>
                                </li>
                                <li id="content3">
                                    <table class="altrowstable" id="alternateco">
                                        <tr>
                                            <th>property</th>
                                            <th>value</th>
                                            <th>property</th>
                                            <th>value</th>
                                        </tr>
                                        <tr>
                                            <td>教育经历</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.degree}"></td>
                                            <td>培训经历</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.trainInfo}"></td>
                                        </tr>
                                        <tr>
                                            <td>实践经历</td>
                                            <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
                                            <td th:text="${GraduateUserAdditionalInfo.practiceExperience}"></td>
                                            <td>语言能力</td>
                                            <td>unknown</td>
                                        </tr>
                                        <tr>
                                            <td>荣誉称号</td>
                                            <td>unknown</td>
                                            <td>奖学金</td>
                                            <td>unknown</td>
                                        </tr>
                                        <tr>
                                            <td>获得证书</td>
                                            <td>unknown</td>
                                            <td>其他经历</td>
                                            <td>unknown</td>
                                        </tr>
                                    </table>
                                </li>
                                <li id="content4">
                                    未添加内容
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <div class="footer-friend-link clearfix" data-editable="type=list;name=bottom-links">
                    <ul>

                        <li class="first"><a href="http://www.gov.cn/" target="_blank">中国政府网</a></li>

                        <li><a href="http://www.moe.gov.cn/" target="_blank">教育部</a></li>

                        <li><a href="http://www.miit.gov.cn/n11293472/index.html" target="_blank">工业和信息化部</a></li>

                        <li><a href="http://www.scedu.net/" target="_blank">四川省教育厅</a></li>

                        <li><a href="http://www.univs.cn/" target="_blank">中国大学生在线</a></li>

                    </ul>
                </div>
                <div class="footer-bottom clearfix">
                    <div class="left">
                        <div class="editable" data-editable="type=fragment;name=footer-left-content">
                            <p>
                                清水河校区：成都市高新区（西区）西源大道2006号　邮编： 611731 </p>
                            <p>
                                沙河校区：成都市建设北路二段四号　邮编：610054</p>
                            <p>
                                蜀ICP备 05006379 号 I　川公网安备 51019002000280 号 </p>
                        </div>
                    </div>
                    <div class="right">
                        <div>
                            <a href="491dbbbf56276749f811c02073c07bca.html" style="margin-right:10px;">
                                <img src="images/wechat-logo.png" alt=""/>
                            </a>
                            <a target="_blank" href="http://weibo.com/u/3982954755">
                                <img src="images/weibo-logo.png" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="display:none">
                <script src="//s4.cnzz.com/stat.php?id=5947016&amp;web_id=5947016" language="JavaScript"></script>
            </div>
        </div>
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/uestc.js"></script>
        <script src="js/grayscale.js"></script>

        <script>

        </script>

    </div>
</div>


</body>
</html>