<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/CustomForm.css}">
    <!--/*@thymesVar id="SimpleUser" type="com.group.employsystem.entity.SimpleUser"*/-->
    <title th:text="${SimpleUser.username}"></title>
</head>
<body>
<!--/*@thymesVar id="SimpleUser" type="com.group.employsystem.entity.SimpleUser"*/-->
<div class="topDiv">
    <header style="background: #0f6674;border-radius: 10px;">
        <div>
            <h1 th:id="infoID" th:text="${'Company user '+SimpleUser.username}"></h1>
        </div>
        <h1>Welcome to the Information Center!</h1>
        <!--/*@thymesVar id="CompanyUserAdditionalInfo" type="com.group.employsystem.entity.sql.CompanyUserAdditionalInfo"*/-->
        <p th:text="${CompanyUserAdditionalInfo != null?'Additional information is logged. you can modify it now.' :'Additional information is not logged. you can add it now.'}">
        </p>
    </header>
    <section>
        <div class="DIV">
            <div class="CustomDiv">
                <h1>Password Management</h1>
                <div class="divideLine"></div>
                <p>
                    <label for="oldPassword" class="customLabel" id="oldPasswordLabel">
                        Old password
                    </label>
                    <input type="password" id="oldPassword" class="customInput" name="oldPassword" required
                           placeholder="Old password">
                </p>
                <p>
                    <label for="newPassword" class="customLabel" id="passwordLabel">
                        Change password
                    </label>
                    <input type="password" id="newPassword" class="customInput" name="password" required
                           placeholder="new password">
                </p>
                <p>
                    <label for="confirmPassword" class="customLabel" id="confirmPasswordLabel">
                        Confirm password
                    </label>
                    <label for="confirmPassword"></label>
                    <input type="password" id="confirmPassword"
                           class="customInput" required
                           placeholder="confirm password">
                </p>
                <button id="passwordResetButton" class="formButton">Reset</button>
                <button id="passwordSubmitButton" class="formButton">Submit</button>
                <div class="divideLine"></div>
                <span id="passwordResult"></span>
            </div>
        </div>
        <div class="DIV">
            <div class="CustomDiv">
                <h1>Information Management</h1>
                <div class="divideLine"></div>
                <p>
                    <label for="id" class="customLabel" id="idLabel">
                        id
                    </label>
                    <br>
                    <!--/*@thymesVar id="CompanyUserAdditionalInfo" type="com.group.employsystem.entity.sql.CompanyUserAdditionalInfo"*/-->
                    <input type="text" id="id" class="customInput" name="id"
                           th:disabled="${CompanyUserAdditionalInfo != null?'true' :'false'}"
                           th:placeholder="${CompanyUserAdditionalInfo == null?'id':CompanyUserAdditionalInfo.id}">
                </p>
                <p>
                    <label for="name" class="customLabel" id="nameLabel">
                        name
                    </label>
                    <!--/*@thymesVar id="CompanyUserAdditionalInfo" type="com.group.employsystem.entity.sql.CompanyUserAdditionalInfo"*/-->
                    <input type="text" id="name" class="customInput" name="name"
                           th:placeholder="${CompanyUserAdditionalInfo == null?'id':CompanyUserAdditionalInfo.name}">
                </p>
                <p>
                    <label for="contractNo" class="customLabel" id="contractNoLabel">
                        Contract No
                    </label>
                    <!--/*@thymesVar id="CompanyUserAdditionalInfo" type="com.group.employsystem.entity.sql.CompanyUserAdditionalInfo"*/-->
                    <input type="text" id="contractNo" class="customInput" name="contractNo"
                           th:placeholder="${CompanyUserAdditionalInfo == null?'contractNo':CompanyUserAdditionalInfo.contractNo}">
                </p>
                <p>
                    <label for="emailAddress" class="customLabel" id="emailAddressLabel">
                        Email address
                    </label>
                    <!--/*@thymesVar id="CompanyUserAdditionalInfo" type="com.group.employsystem.entity.sql.CompanyUserAdditionalInfo"*/-->
                    <input type="text" id="emailAddress"
                           class="customInput"
                           th:placeholder="${CompanyUserAdditionalInfo == null?'Email address':CompanyUserAdditionalInfo.emailAddress}">
                </p>
                <p>
                    <label for="annualInspectionStatus" class="customLabel" id="annualInspectionStatusLabel">
                        Annual inspection status
                    </label>
                    <!--/*@thymesVar id="CompanyUserAdditionalInfo" type="com.group.employsystem.entity.sql.CompanyUserAdditionalInfo"*/-->
                    <textarea type="text" id="annualInspectionStatus"
                              class="customInput"
                              th:placeholder="${CompanyUserAdditionalInfo == null?'Annual inspection status':CompanyUserAdditionalInfo.annualInspectionStatus}"></textarea>
                </p>
                <button id="infoResetButton" class="formButton">Reset</button>
                <button id="infoSubmitButton" class="formButton">Submit</button>
                <div class="divideLine"></div>
                <span id="infoResult"></span>
            </div>
        </div>
    </section>
</div>
</body>
<script>
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
        $("#infoResetButton").click(function () {
            $("div.DIV:last input.customInput,textarea.customInput").val("")
        })
        $("#infoSubmitButton").click(function () {
            let inputArray = $("div.DIV:last input.customInput,textarea.customInput")
            if (inputArray.toArray().some((e) => e.value !== "")) {
                $.post("/companyInfoModifier", {
                        info: inputArray.toArray().map((e) => e.value ? e.value : e.placeholder).toString()
                    }, function (data, status, jqXHR) {
                        if (data) {
                            if (data.toString() === "true") {
                                $("#infoResult").html("<span style='color: green'>Modification succeeded!</span>");

                            } else if (data.toString() === "505") {
                                $("#infoResult").html("<span style='color: red'>Inner bug raised</span>");
                            }
                        }
                    }
                );
            } else {
                $("#infoResult").html("<span style='color: green'>Nothing need to change</span>");
            }
        })

    })
</script>
<script th:src="@{js/passwordModifier.js}"></script>
</html>