<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/CustomForm.css}">

    <title th:text="${session.userDetail.name}"></title>
</head>

<script th:inline="javascript">
    var u = [[${session.userDetail}]]
    var v = [[${session.userInfo}]]
    console.log(u)
    console.log(v)
    if (u == null) {
        // window.location.href='login'
    }
</script>

<body>
</div>
<!--/*@thymesVar id="SimpleUser" type="com.group.employsystem.entity.SimpleUser"*/-->
<div class="topDiv">
    <header style="background: #0f6674;border-radius: 10px;">
        <div>
            <h1 th:id="infoID" th:text="${'Graduate user '+session.userDetail.name}"></h1>
        </div>
        <h1>个人中心!</h1>
        <!--/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/-->
        <p th:text="${GraduateUserAdditionalInfo != null?'Additional information is logged. you can modify it now.' :'Additional information is not logged. you can add it now.'}">
        </p>
    </header>
    <section>
        <div class="DIV">
            <!--<div class="CustomDiv">-->
                <!--<h1>Information Management</h1>-->
                <!--<div class="divideLine"></div>-->
                <!--<p>-->
                    <!--<label for="idCardNo" class="customLabel" id="idLabel">-->
                        <!--idCardNo-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="idCardNo" class="customInput" name="idCardNo"-->
                           <!--th:disabled="${GraduateUserAdditionalInfo != null?'true' :'false'}"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'idCardNo':GraduateUserAdditionalInfo.idCardNo}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="name" class="customLabel" id="nameLabel">-->
                        <!--name-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="name"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'name':GraduateUserAdditionalInfo.name}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="schoolNo" class="customLabel" id="schoolNoLabel">-->
                        <!--schoolNo-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="schoolNo"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'schoolNo':GraduateUserAdditionalInfo.schoolNo}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="contractNo" class="customLabel" id="contractNoLabel">-->
                        <!--Contract No-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="contractNo" class="customInput" name="contractNo"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'contractNo':GraduateUserAdditionalInfo.contractNo}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="emailAddress" class="customLabel" id="emailAddressLabel">-->
                        <!--Email address-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="emailAddress"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'Email address':GraduateUserAdditionalInfo.emailAddress}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="othersReferralStuffID" class="customLabel" id="othersReferralStuffIDLabel">-->
                        <!--othersReferralStuffID-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="othersReferralStuffID"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'othersReferralStuffID':GraduateUserAdditionalInfo.othersReferralStuffID}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="selfReferralStuffID" class="customLabel" id="selfReferralStuffIDLabel">-->
                        <!--selfReferralStuffID-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="selfReferralStuffID"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'selfReferralStuffID':GraduateUserAdditionalInfo.selfReferralStuffID}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="school" class="customLabel" id="schoolLabel">-->
                        <!--school-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="school"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'school':GraduateUserAdditionalInfo.school}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="sex" class="customLabel" id="sexLabel" >-->
                        <!--sex Ps : male|female-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<br>-->
                    <!--<input type="text" id="sex"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'sex':(GraduateUserAdditionalInfo.sex ?'male':'female')}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="national" class="customLabel" id="nationalLabel">-->
                        <!--national-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="national"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'national':GraduateUserAdditionalInfo.national}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="degree" class="customLabel" id="degreeLabel">-->
                        <!--degree-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="degree"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'degree':GraduateUserAdditionalInfo.degree}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="politicalLandscape" class="customLabel" id="politicalLandscapeLabel">-->
                        <!--politicalLandscape-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="politicalLandscape"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'politicalLandscape':GraduateUserAdditionalInfo.politicalLandscape}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="address" class="customLabel" id="addressLabel">-->
                        <!--address-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="address"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'address':GraduateUserAdditionalInfo.address}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="householdRegistration" class="customLabel" id="householdRegistrationLabel">-->
                        <!--householdRegistration-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="householdRegistration"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'householdRegistration':GraduateUserAdditionalInfo.householdRegistration}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="maritalStatus" class="customLabel" id="maritalStatusLabel">-->
                        <!--maritalStatus-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="maritalStatus"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'maritalStatus':GraduateUserAdditionalInfo.maritalStatus}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="schoolLeftTime" class="customLabel" id="schoolLeftTimeLabel">-->
                        <!--schoolLeftTime Ps: YYYY-MM-DD HH:MM:SS-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<input type="text" id="schoolLeftTime"-->
                           <!--class="customInput"-->
                           <!--th:placeholder="${GraduateUserAdditionalInfo == null?'schoolLeftTime':GraduateUserAdditionalInfo.schoolLeftTime}">-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="schoolLeftInfo" class="customLabel" id="schoolLeftInfoLabel">-->
                        <!--schoolLeftInfo-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<textarea type="text" id="schoolLeftInfo"-->
                              <!--class="customInput"-->
                              <!--th:placeholder="${GraduateUserAdditionalInfo == null?'schoolLeftInfo':GraduateUserAdditionalInfo.schoolLeftInfo}"></textarea>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="trainInfo" class="customLabel" id="trainInfoLabel">-->
                        <!--trainInfo-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<textarea type="text" id="trainInfo"-->
                              <!--class="customInput"-->
                              <!--th:placeholder="${GraduateUserAdditionalInfo == null?'trainInfo':GraduateUserAdditionalInfo.trainInfo}"></textarea>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="practiceExperience" class="customLabel" id="practiceExperienceLabel">-->
                        <!--practiceExperience-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<textarea type="text" id="practiceExperience"-->
                              <!--class="customInput"-->
                              <!--th:placeholder="${GraduateUserAdditionalInfo == null?'practiceExperience':GraduateUserAdditionalInfo.practiceExperience}"></textarea>-->
                <!--</p>-->
                <!--<p>-->
                    <!--<label for="resume" class="customLabel" id="resumeLabel">-->
                        <!--resume-->
                    <!--</label>-->
                    <!--&lt;!&ndash;/*@thymesVar id="GraduateUserAdditionalInfo" type="com.group.employsystem.entity.sql.GraduateUserAdditionalInfo"*/&ndash;&gt;-->
                    <!--<textarea type="text" id="resume"-->
                              <!--class="customInput"-->
                              <!--th:placeholder="${GraduateUserAdditionalInfo == null?'resume':GraduateUserAdditionalInfo.resume}"></textarea>-->
                <!--</p>-->
                <!--<button id="infoResetButton" class="formButton">Reset</button>-->
                <!--<button id="infoSubmitButton" class="formButton">Submit</button>-->
                <!--<div class="divideLine"></div>-->
                <!--<span id="infoResult"></span>-->
            <!--</div>-->
        </div>
    </section>
</div>
</body>
<script>
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function (e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
        $("#infoResetButton").click(function () {
            $("div.DIV:last input.customInput,textarea.customInput").val("")
        })
        $("#infoSubmitButton").click(function () {
            let inputArray = $("div.DIV:last input.customInput,textarea.customInput")
            if (inputArray.toArray().some((e) => e.value !== "")) {
                $.post("/graduateInfoModifier", {
                        info: inputArray.toArray().map((e) => e.value ? e.value : e.placeholder).toString()
                    }, function (data, status, jqXHR) {
                        if (data) {
                            if (data.toString() === "true") {
                                $("#infoResult").html("<span style='color: green'>Modification succeeded!</span>");

                            } else if (data.toString() === "505") {
                                $("#infoResult").html("<span style='color: red'>Inner bug raised</span>");
                            }
                        }
                    }
                );
            } else {
                $("#infoResult").html("<span style='color: green'>Nothing need to change</span>");
            }
        })
    });
</script>
<script th:src="@{js/passwordModifier.js}"></script>
</html>