<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
        <title>register</title>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{css/CustomForm.css}">

</head>
<body>
<div class="topDiv">
    <section>
        <div class="DIV">
            <div class="CustomDiv">
                <h1>毕业管理系统注册</h1>
                <div class="divideLine"></div>
                <p>
                    <label for="username" class="customLabel" id="usernameLabel">
                        用户名
                    </label>
                    <input type="text" id="username" class="customInput" name="username" required
                           placeholder="username">
                </p>
                <p>
                    <label for="password" class="customLabel" id="passwordLabel">
                        密码
                    </label>
                    <input type="password" id="password" class="customInput" name="password" required
                           placeholder="password">
                </p>
                <p>
                    <label for="password" class="customLabel" id="confirmPasswordLabel">
                        再次确认
                    </label>
                    <label for="confirmPassword"></label>
                    <input type="password" id="confirmPassword"
                           class="customInput" required
                           placeholder="confirm password">
                <form>
                    <label>
                        <input type="radio" name="type" value="0" checked>毕业生
                    </label>
                    <label>
                        <input type="radio" name="type" value="1">公司
                    </label>
                </form>
                </p>
                <input type="reset" data-editable="false" value="Reset" class="formButton">
                <button id="submitButton" class="formButton">Sign up</button>
                <br>
                <a href="/login">去登录</a>
                <div class="divideLine"></div>
                <span id="registerResult"></span>
            </div>
        </div>
    </section>
</div>
</body>
<script>
    $(function () {
        $("#submitButton").click(function () {
            let username = $("#username").val();
            let password = $("#password").val();
            let confirmPassword = $("#confirmPassword").val();
            if (password.length < 5 || password.length > 15) {
                $("#passwordLabel").html("<span style='color: red'> 长度需要在 5-15</span>");
                return;
            }

            if (confirmPassword !== password) {
                $("#confirmPasswordLabel").html("<span style='color: red'>两次密码不一致!</span>")
                return;
            }

            $.post("/doRegister", {
                "username": username,
                "password": password,
                "role": $("input:radio:checked").val().toUpperCase()
            }, function (data, status, jqXHR) {
                if (data) {
                    if (data.toString() === "true") {
                        window.location.href='login';
                    } else {
                        alert("注册失败，该用户已存在")
                    }
                }
            })
        })
    });
</script>
</html>